<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body data-ng-app="todo" data-ng-controller="TodoCtrl">
  <label for="title-input">Todo title:
    <input type="text" name="title-input" class="form-input" data-ng-model="todoTitle">
  </label>
  <button data-ng-click="add()" class="btn btn-primary">Add</button>
  <ul>
    <li data-ng-repeat="todo in todos">
      {{todo.title}} <a href="#" data-ng-click="remove(todo)">[X]</a>
    </li>
  </ul>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/app.js"></script>
  <script src="src/TodoCtrl.js"></script>
  <script src="src/todo.js"></script>
  <script src="src/storage.js"></script>
  <script src="src/storageDecorator.js"></script>
</body>
</html>