<h2>Partials Example</h2>

<div class="small">
<pre lang="html"><code>&#x3C;html ng-app&#x3E;
 &#x3C;!-- Body tag augmented with ngController directive  --&#x3E;
 &#x3C;body ng-controller=&#x22;MyController&#x22;&#x3E;
   &#x3C;input ng-model=&#x22;foo&#x22; value=&#x22;bar&#x22;&#x3E;
   &#x3C;!-- Button tag with ng-click directive, and
          string expression &#x27;buttonText&#x27;
          wrapped in &#x22;{{ }}&#x22; markup --&#x3E;
   &#x3C;button ng-click=&#x22;changeFoo()&#x22;&#x3E;{{buttonText}}&#x3C;/button&#x3E;
   &#x3C;script src=&#x22;angular.js&#x22;&#x3E;&#x3C;/script&#x3E;
 &#x3C;/body&#x3E;
&#x3C;/html&#x3E;</code></pre>
</div>
