/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and 
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

.notes {
  display: none;
}

.step h2 {
  font-size: 78px;
  font-weight: bold;
}

ul,
.toc,
.blockquote,
pre {
  font-size: 0.7em;
}

ul {
  margin-left: 50px;
}

li {
  list-style-type: disc;
}

#twitter-widget-0 {
  width: 100% !important;
}

.small {
  font-size: 0.6em;
}
